<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/43ee8fadd4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/login.css">
    <title>Hosteria</title>
</head>
<body>
    <section class="main-section">

        <article class="container">
            <h2><u>Ingresa</u></h2>
            <div class="marcas">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-google"></i></a>
                <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
            <div class="ingreso">
                <h3>Nombre de usuario</h3>
                <input type="text" class="datos">
                <hr>
                
                <h3>Contraseña</h3>
                <input type="password" class="datos">
                <hr>
                
            </div>
            <h5>¿Olvidaste la contraseña?</h5>
            <button class="btn-inicio"><a href="#">Iniciar</a></button>
        </article>

        <article class="registro">
            <h2>¿Eres nuevo?</h2>
            <p class="invitacion">Ingresa tus datos personales para abrir una cuenta con nosotros.</p>
            <button class="btn-registro"><a href="register">Registrate</a></button>
        </article>
    </section>
</body>
</html>