<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/43ee8fadd4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/registro.css">
    <title>Hosteria</title>
</head>
<body>
    <section class="main-section">

        <article class="registro">
            <h2>Bienvenido de vuelta!</h2>
            <p class="invitacion">Para mantenerte conectado con nosotros, por favor ingresa con tu usuario y contraseña.</p>
            <button class="btn-inicio"><a href="/login">Iniciar</a></button>
        </article>

        <article class="container">
            <h2><u>Crea tu cuenta</u></h2>
            <div class="ingreso">
                <h3>Nombre</h3>
                <input type="text" class="datos">
                <hr>
                <h3>Email</h3>
                <input type="email" class="datos">
                <hr>
                <h3>Contraseña</h3>
                <input type="password" class="datos">
                <hr>
                <h3>Nombre de usuario</h3>
                <input type="text" class="datos">
                <hr>
            </div>
            <label>
                <input type="checkbox" name="tyc">
                Terminos y Condiciones
            </label>
            <button class="btn-registro"><a href="#">Registrarse</a></button>
        </article>
    </section>
</body>
</html>