
body {
    
    background-image: url("https://images.squarespace-cdn.com/content/v1/575e7db422482eb36c507389/1593777176399-JIGKJ29Z0ANIPKUK73Z3/052_Architecture_TCunniffe.jpg");
    color: white;
    
  }

#barra-de-seleccion-superior {
    display: flex;
    justify-content: space-around;
    
}

.enlaces {
    display: flex;
    list-style-type: none;
    font-size:large
}

.carrito {
    display:flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    border: solid 10px rgba(0, 0, 0, 0.90);
    opacity: 0.8;
    width: 80vw;
    align-items: center;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.confirmar {
    padding: 15px ;
    background-color: rgba(0, 0, 0, 0.65);
    text-align: center;
    border: solid 10px rgba(0, 0, 0, 0.90);
    
}

.total {
    font-weight: bold;
    text-align: left;
}

.izq {
    text-align: left;
}

.botonx {
    position: absolute;
    right: 750px;
}

#boton {
    background-color: white;
    border-radius: 5px;
    box-shadow:2px 2px 2px #333

}

#boton:hover {
    background: #D7DBDD;
    color: black;
}

#barra-de-seleccion-superior{
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.75);
    height: 8vh;
    /* font-size: 36px; */
    font-size: 2.25vw;
    text-transform: uppercase;
    font-weight: bold;
    /* margin: 0; */
    margin-bottom: 0.5vh;
    color:white
    }
    .barra-de-seleccion {
        box-sizing: border-box;
        background-color: rgba(0,0,0,0.75);
           margin-bottom: 0.5vh;
        }
    
    ul {
        list-style-type: none;
    }
    
    footer{
        margin-top:1vh ;
        color:white
    }
    
    .maps {
        font-size: 5.5vw;
        margin-top: 15px;
    }
    