*, ::after, ::before {
    box-sizing: border-box;
}

body {
    background-image: url("https://images.squarespace-cdn.com/content/v1/575e7db422482eb36c507389/1593777176399-JIGKJ29Z0ANIPKUK73Z3/052_Architecture_TCunniffe.jpg");
    font-family: sans-serif;
    margin: 0;
}

.h2-css {
    font-size: 4vw;
}

.h3-css {
    margin: 10px 0 0 0;
    font-size: 3vw;
}

.h5-css {
    font-size: 2vw;
}

.a-css {
    text-decoration: none;
    color: #000;
}

/* Inicio estilos del header*/

.barra-superior {    
    background-color: rgba(0,0,0,0.75);
    height: 14vh;
    font-weight: bold;
    margin-bottom: 0.5vh;
    color:#FFF;
    display: flex;
    align-items: center;
    text-align: center;
}

.items {
    width: 20%;
    margin: 0;
    font-size: 2vw;
}

.barra-superior p > a {
    text-decoration: none;
    color: #fff;
}

.a-css {
    text-decoration: none;
    color: #000;
}

/* Fin estilos del header*/


/* Inicio estilos del footer*/
        
ul {
    list-style-type: none;
}

.main-footer {
    background-color: rgba(0,0,0,0.75);
    text-align: center;
    display: flex;
    flex-flow: column wrap;

}
.footer{
    margin-top:2vh ;
    color: #fff;
}

.footer ul {
    padding: 0;
    cursor: pointer;
}
.maps {
    font-size: 5.5vw;
    margin-top: 15px;
}

/* Fin estilos del footer*/

/*Inicio estilos imagen de perfil*/

.main-section {
    width: 95vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9CDB86;
    box-shadow: 1rem 1rem 2rem 0.5rem #0007;
    width: 45vw;
    height: 65vh;
    border-radius: 12px;
}

.invitacion {
    text-align: center;
    font-size: 2.5vw;
    margin: 0;
    
}
.form-button {
	background-color:#FF0000;
	border-radius:28px;
	border:1px solid #E80000;
	display:inline-block;
	cursor:pointer;
	font-size:1.3vw;
	padding:16px 31px;
	text-decoration:none;
}
.form-button:hover {
	background-color:#E80000;
    color: #000;
}

.image-activitie {
    width: 60%;
    height: 50%;
    border-radius: 50%;
    box-shadow: 1rem 1rem 2rem 0.5rem #0007;
}


/*Fin estilos imagen de perfil*/
        
@media (min-width: 800px) {

    .container-css {
        width: 35vw;
        height: 90vh;
    }
    .registro{
        width: 35vw;
        height: 90vh;
    }

    .items {
        font-size: 1.6vw;
    }

        
    .h2-css {
        font-size: 2.3vw;
    }

    .h3-css {
        font-size: 1.4vw;
    }

    .h5-css {
        font-size: 1.5vw;
    }

    
    .invitacion {
        font-size: 1.5vw;
    }
    
    .main-footer {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        font-size: 1vw;
    }

    .footer {
        width: 30%;
    }


    .footer i {
        margin-bottom: 3vh;
    }
        
    }
        