*, ::after, ::before{
    box-sizing: border-box;
}


body {
    background-image: url("https://images.squarespace-cdn.com/content/v1/575e7db422482eb36c507389/1593777176399-JIGKJ29Z0ANIPKUK73Z3/052_Architecture_TCunniffe.jpg");
    font-family: sans-serif;
    margin: 0;
}

.barra-superior {
    background-color: rgba(0,0,0,0.75);
    height: 14vh;
	font-weight: bold;
	margin-bottom: 0.5vh;
	color:#FFF;
	display: flex;
	align-items: center;
	text-align: center;
}

.items {
	width: 20%;
	margin: 0;
	font-size: 2vw;
}



.barra-superior p > a {
    text-decoration: none;
    color: #fff;
}

.a-css {
    text-decoration: none;
    color: #000;
}

.h2-css {
    font-size: 4vw;
}

.h3-css {
    margin: 10px 0 0 0;
    font-size: 3vw;
}

.h5-css {
    font-size: 2vw;
}

.hr-css {
    width: 35vw;
    margin: 0;
}


.main-section {
    width: 98vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container-css {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #D9D9D9;
    width: 45vw;
    height: 65vh;
    border-radius: 12px;
}

.container label {
    align-self: flex-start;
    padding-left: 15px;
    font-size: 2vw;
    cursor: pointer;
}


.ingreso {
    align-self: flex-start;
    padding-left: 25px;
}


.btn-inicio {
    background-color: #D9D9D9;
    border: none;
    width: 20vw;
    height: 6vw;
    border-radius: 30px;
    font-size: 3vw;
}

.datos {
    background-color: #D9D9D9;
    border: none;
    width: 35vw;
    padding-top: 7px;
}

.registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #9CDB86;
    width: 45vw;
    height: 65vh;
    border-radius: 12px;
    position: relative;
}

.invitacion {
    text-align: center;
    padding: 20px;
    font-size: 2.5vw;
}

.btn-registro {
    background-color: #9CDB86;
    border: none;
    width: 20vw;
    height: 6vw;
    border-radius: 30px;
    margin-bottom: 10px;
    font-size: 3vw;
}

ul {
    list-style-type: none;
}

.main-footer {
    background-color: rgba(0,0,0,0.75);
    text-align: center;
    display: flex;
    flex-flow: column wrap;

}
.footer{
    margin-top:2vh ;
    color: #fff;
}

.footer ul {
    padding: 0;
    cursor: pointer;
}

.maps {
    font-size: 5.5vw;
    margin-top: 15px;
}

.errores {
    color: #C81D11;
    font-size: .8vw;
}

.warning {
    border: #C81D11 solid thin;
}

@media (min-width: 600px) {

    .container-css {
        height: 90vh;
    }
    .registro {
        height: 90vh;
    }
    
}

@media (min-width: 800px) {
    .items {
        font-size: 1.6vw;
    }    
}


@media (min-width: 1000px) {

    .container-css {
       width: 35vw;
       height: 95vh;
    }
    .registro{
        width: 35vw;
        height: 95vh;
    }
        
    .h2-css {
        font-size: 2.3vw;
    }

    .h3-css {
        font-size: 1.4vw;
    }

    .h5-css {
        font-size: 1.5vw;
    }

    .hr-css {
        width: 25vw;
    }

    .datos {
        width: 25vw;
    }


    .btn-inicio {
        font-size: 1.7vw;
        width: 10vw;
        height: 3vw;
    }

    .invitacion {
        font-size: 1.5vw;
    }

    .container label {
        margin-top: 15px;
        font-size: 1.5vw;
    }

    .btn-registro {
        font-size: 1.5vw;
        width: 15vw;
        height: 3.3vw;
        margin: 30px 0 20px 0;
    }
    
    .main-footer {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        font-size: 1vw;
    }

    .footer {
        width: 30%;
    }


    .footer i {
        margin-bottom: 3vh;
    }
}

    
    
    