
        <footer class="main-footer">
            <section class="footer">
                <h3>Nosotros</h3>
                <p>Hace más de 10 años venimos construyendo y mejorando día a día nuestra hosteria, intentando transmitir la paz y el relax que creemos necesario para que disfrutes tu merecido descanso. Solo resta comprobarlo por tu propia cuenta.</p>
            </section>                            
            <section class="footer">
                <h3>Contáctanos</h3>
                <ul class="text-center">
                    <li> <i class="fa-solid fa-phone"></i> Telefono</li>
                    <li> <i class="fa-brands fa-whatsapp"></i> Whatsapp</li>
                    <li> <i class="fa-solid fa-envelope"></i> Correo</li>
                    <li> <i class="fa-brands fa-square-facebook"></i> Facebook</li>
                    <li> <i class="fa-brands fa-instagram"></i> Instagram</li>
                </ul>   
            </section>
            <section class="footer">
                <h3>¿Como llegar?</h3>
                <i class="fa-solid fa-map-location-dot maps"></i>
                <p>Con Google Maps, puedes obtener indicaciones para ir a un sitio en coche, en transporte publico, a pie, en transporte compartido, en bicicleta o en motocicleta, hay varias rutas.</p>
            </section>
        </footer>