
        <header>
            <nav class = 'barra-superior'>
                    <p class = 'items'> LOGO </p>                   
                    <p class = 'items'> <a href="/"> INICIO </a> </p>                   
                    <p class = 'items'> <a href="/actividades/create"> ACTIVIDADES </a></p>                 
                    <p class = 'items'> <a href="/carrito"> RESERVAS </a> </p>                
                    <p class = 'items'> <a href="/register"> REGISTRATE </a></p>
                    <p class = 'items'> <a href="/login"> LOGIN </a></p>
            </nav>    
        </header>